* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.hero{
    min-height: 200%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #000;
    color:snow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.head{
    height: 80px;
    width: 90%;
    background-color: rgba(255,255,255,0.3);
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.head a {
    font-size: 2rem;
    color: snow;
    text-decoration: none;
}

a:hover{
    color: red;
}

.form{
    width: 90%;
    height: 400px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

form{
    width: 100%;
    height: 400px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form input{
    height: 2.5rem;
    width: 25rem;
    border-radius: 20px;
    border: none;
    padding: 20px;
    font-size: 1rem;
    outline: none;
}

.form button{
    height: 3rem;
    width: 15rem;
    border-radius: 30px;
    border: 10px solid snow;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

button:active{
    scale: 0.8;
    transition: 0.2s linear;
}

.products{
    min-height: 80%;
    width: 90%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
}

.card{
    height: 420px;
    width: 420px;
    background-color: saddlebrown;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid #fff;
}

.card img{
    height: 150px;
    width: 150px;
    margin: 20px;
    border-radius: 10px;
}

.card h1{
    font-size: 2rem;
    color: #000;
}

.card{
    font-size: 1rem;
    color: #000;
}

.buttons{
    height: 4rem;
    width: 97%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons button{
    height: 3rem;
    width: 10rem;
    border-radius: 20px;
    border: 10px solid greenyellow;
    background-color: #000;
    color: snow;
    font-size: 1rem;
}